<% layout('/layouts/boilerplate') -%>

    <body>

        <div class="outer-card">

            <% for(let listing of allListings) { %>

                <div class="card" style="width: 23rem;">
                    <img src="<%= listing.image %>" class="card-img-top" alt="...">

                    <div class="card-body">
                        <br>
                        <h5 class="card-title">
                            <%= listing.title %>
                        </h5>
                        <p class="card-text">
                            <%= listing.description %>
                        </p>
                        <br>
                        <div class="detail-btn">
                            <a href="/listings/<%= listing._id %>" class="btn-lg seeBtn">See Details</a>
                        </div>
                    </div>
                </div>
                <% } %>

        </div>
        <!-- <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> -->
    </body>