<% layout('/layouts/boilerplate') -%>

    <body>

        <div class="outer-card">

            <% for(let listing of allListings) { %>

                <div class="card " style="width: 20rem;">
                    <img src="<%= listing.image %>" class="card-img-top card-img" alt="...">

                    <div class="card-body">
                        <br>
                        <h5 class="card-title">
                            <%= listing.title %>
                        </h5>
                        <p class="card-text">
                            <%= listing.description %>
                        </p>
                        <br>
                        <div class="detail-btn">
                            <a href="/listings/<%= listing._id %>" class="btn-lg seeBtn">See Details</a>
                        </div>
                    </div>
                </div>
                <% } %>

        </div>
    </body>