<%- layout("layouts/boilerplate.ejs") %>
    <div class="new">
        <div class="cols-10">
            <form action="/listings" method="POST">
                <h1 class="head-new">Add New Listings</h1>
                <br><br>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" placeholder="title" name="listing[title]" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter description" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" name="listing[image]" placeholder="Enter Image URL" class="form-control">
                </div>
                <div class="row ">
                    <div class="mb-4 col-md-6">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="Enter Price" class="form-control">
                    </div>
                    <div class="mb-2 col-md-6">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Enter location" class="form-control">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="Enter country" class="form-control">
                </div>
                <br><br>
                <button class="btn btn-dark">Add</button>
                <br><br><br><br><br>
            </form>
        </div>
    </div>