<% layout('/layouts/boilerplate') -%>


    <body>
        <div class="container">
            <div class="new-img">
                <img src="https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
            </div>
            <div class="center">
                <form action="/listings" method="POST">
                    <h1>Add New Listings</h1>
                    <br><br>
                    <input class="cenitem" type="text" placeholder="title" name="listing[title]">
                    <br><br>
                    <textarea class="cenitem" name="listing[description]" placeholder="Enter description"></textarea>
                    <br><br>
                    <input class="cenitem" type="text" name="listing[image]" placeholder="Enter img URL">
                    <br><br>
                    <input class="cenitem" type="number" name="listing[price]" placeholder="Enter Price">
                    <br><br>
                    <input class="cenitem" type="text" name="listing[location]" placeholder="Enter location">
                    <br><br>
                    <input class="cenitem" type="text" name="listing[country]" placeholder="Enter country">
                    <br><br>
                    <button class="btn">Add</button>

                </form>
            </div>
        </div>
    </body>