body {
    margin: 0;
    background-color: #110821;
    color: #ede6f9;
    text-decoration: none;
    overflow: initial;
}

.center {
    background-color: #362a4a;
    display: flexbox;
    justify-content: center;
    /* width: 450px; */
    /* padding: 30px 50px; */
    border-radius: 30px;
    /* margin-top: 40px; */
}

.card-body {
    margin: 0;
    padding: 0;
}


/* .detail-btn {
    position: relative;
}

.details-btn {
    position: absolute;
} */

input,
textarea {
    color: white;
    background-color: #110821;
    border: none;
    border-radius: 20px;
    width: 300px;
}

input,
textarea::placeholder {
    align-items: center;
    padding: 10px;
    margin: 10px;
}

textarea:focus,
input:focus {
    outline: none;
}

input,
textarea::selection {
    border: none;
    background-color: #110821;
    color: white;
}

a {
    text-decoration: none;
    color: #ede6f9;
}

.headboil {
    text-align: center;
    color: #b697e7;
}

.btn {
    background-color: #b697e7;
    color: #110821;
    width: 80px;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
    margin-left: 17px;
}

.main-btn {
    position: absolute;
}

.card-img {
    object-fit: cover;
    height: 20rem;
    width: 100%;
    border-radius: 30px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.outer-card {
    top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #362a4a;
    color: white;
    height: 30rem !important;
    border-radius: 30px;
    transition: 0.5s;
    margin: 20px;
}

.card-text,
.card-title {
    margin-left: 15px;
    /* height: 10px; */
}


/* .card-title {} */

.btn-lg {
    background-color: #b697e7;
    margin-left: 7px;
    color: #110821;
    /* width: 150px; */
    /* height: 80px; */
    padding: 10px 20px;
    margin-top: 10px;
    /* margin-bottom: 30px; */
    border: none;
    border-radius: 20px;
    transition: 0.3s;
    position: relative;
    /* margin-left: 1000px; */
}

.btn:hover,
.btn-lg:hover {
    background-color: black;
    color: #b697e7;
}

.navbar {
    margin-top: 0;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(40px);
    /* color: white; */
}


/* .navbar-nav {
    margin-left: 990px;
} */

.fa-compass {
    color: #b39dcd;
    font-size: 1.3rem;
}

.nav-link {
    color: rgb(160, 160, 160) !important;
    transition: 0.5s;
}

.nav-link:hover {
    color: white !important;
    scale: 1.06 !important;
}

.f-info {
    margin-left: 45%;
}

.fa-brands {
    padding: 19px;
    transition: 0.3s;
    scale: 1.2;
}

.fa-brands:hover {
    scale: 1.6;
}


/* 
.detail-btn{
    position: relative;
} */

.seeBtn {
    position: absolute;
    top: 360px;
    /* right: 10px */
}