<footer>
    <div class="f-info">
        <div class="social-link">
            <a href="https://www.facebook.com/">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="brand-info">Traveller Private Limited</div>
    </div>
</footer>